body {
    background: #F1F8E9;
    display: grid;
}
header {
    grid-column: 1 / 7;
    grid-row: 1;
    display: grid;
}
#logo {
    height: 70px;
    width: 90px;
}
#login {
    grid-column: 3 / 4;
    grid-row: 1;
}
main {
    grid-column: 2 / 6;
    grid-row: 2 / 5;
}
#tasks {
    grid-column: 1;
    grid-row: 2 / 7;
}
#archive div{
    display: none;
}
.draggable {
    cursor: -webkit-grab
}
.droppable .draggable {
    margin-left: 20px;
    display: none;
}
#employees {
    grid-column: 6;
    grid-row: 2 / 5;
}
#archive{
        grid-column: 6;
        grid-row: 5;
}
#archive-image{
    cursor: -webkit-grab;
}
#log {
    grid-column: 2 / 6;
    grid-row: 5/7;
    overflow-y: scroll;
    height: 250px;
}
#createEmployeeForm {
    display: none;
}
#createTaskForm {
    display: none;
}